h4 {
    font-size: 1rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 0.8rem;
}

header {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

.navigation input {
    width: 8%;
}

.navigation a {
    margin: 0 10px;
    color: #666666;
}

.navigation img{
    width: 5%;
    position: absolute;
    top: -15px;
    left: 95%;
}

.navigation a:last-of-type {
    margin-right: 15%;
}

#logo-bnf {
    align-self: center;
}

.header-link {
    margin: 40px 0;
    align-self: center;
}

.header-link a {
    padding: 15px;
    color: #666666;
}

/***** bloc 1 *******/

.bloc1 {
    display: flex;
    justify-content: space-around;
}

.bloc1 h4 {
    color: #815410;
}

.bloc1left {
    display: flex;
    width: 10%;
}

.bloc1left .static {
    position: static;
    left: -1rem;
    display: flex;
    flex-direction: column;
    width: 12%;
    z-index: 1;
    margin-right: 1.5rem;
}

.static li {
    text-align:center;
    padding: 5px;
    align-self: center;
    text-decoration: none;
    list-style-type: none;
    list-style-position: outside;
}

.static li:nth-of-type(odd) {
    margin-left: 0.5rem;
}

.static a {
    color: #666666;
}

#bienvenue {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 4em;
    color: #e8dec9;
    align-self: flex-start;
    width: 30%;
}

.bloc1middle {
    width: 45%;
    margin: 0 auto;
    background-color: #f3f3f3;
}

.bloc1middle img {
    width: 100%;
}

.bloc1middle p {
    margin-left: 15px;
}

.bloc1middle p:first-of-type {
    font-weight: bold;
    font-style: italic;
}

.bloc1middle p:last-of-type {
    margin-left: 0;
}

.bloc1right{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

.bloc1right a {
    margin-right: 15px;
}

.bloc1right a:first-of-type {
    border-bottom: 5px #815410 solid
}

.bloc1right a h3{
    text-align: left;
}

.bloc1right article:last-of-type {
    margin-top: auto;
}

/*********** bloc 2 ***********/

.bloc2 {
    position: relative;
    top: 0;
    left: 15%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: #be904a;
    margin: 50px 0;
    padding: 30px;
}

.bloc2 img {
    position: absolute;
    top: 60%;
    z-index: -1;
    left: -15%;
    opacity: 0.4;
}

.bloc2 input {
    margin-bottom: 15px;
    width: 60%;
}

.bloc2 nav:first-of-type a:first-of-type {
    color: #271b1b;
    text-decoration: underline;
}

.bloc2 nav {
    margin-bottom: 15px;
}

.bloc2 a {
    color: #666666;
}

.bloc2 nav a {
    padding: 10px 0;
}

.pseudoElement::after {
    content: "|";
    margin: 0 5px;
}


/****** bloc 3 *******/

.bloc3 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #cecbc5;
}

.bloc3 nav:first-of-type a:last-of-type{
    color: rgb(32, 30, 30);
    text-decoration: underline;
}

.bloc3 nav:last-of-type a:first-of-type {
    color: rgb(32, 30, 30);
    text-decoration: underline;
}

.bloc3 h4 {
    color: #815410;
}

.headerBloc3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.headerBloc3 a:last-of-type {
    color: #666666;
    text-decoration: underline;
    font-style: italic;
}

.headerBloc3 span {
    margin: 0 15px;
}

.bloc3 nav {
    display: flex;
    margin: 15px 0;
}

.bloc3 nav a {
    padding: 15px;
    color: #666666;
}


.bloc3 section {
    display: flex;
}

.bloc3Section1 article {
    width: 30%;
    margin: auto;
}

.bloc3Section2 article {
    width: 22%;
    margin: auto;
}

.bloc3 section article p:first-of-type {
    font-weight: bold;
    font-style: italic;
}
/******** bloc 4 *******/

.bloc4 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fadc74;
}

.bloc4 p {
    font-size: 0.8rem;
}

.bloc4 h4 {
    color: #7c4c04;
}

.bloc4 p:first-of-type {
    font-weight: bold;
    font-style: italic;
}

.headerVideo{
    display: flex;
    justify-content: space-between;
}

.headerVideo h3 {
    margin-left: 15px;
}

.headerVideo a {
    align-self: center;
    margin-right: 15px;
    color: #666666;
    font-style: italic;
    text-decoration: underline;
}

.video {
    display: flex;
    align-self: center;
    width: 80%;
}

.video article {
    width: 45%;
    padding: 10px;
}

.video article iframe {
    width: 100%;
}

.bloc4 img {
    width: 20%;
    position: absolute;
    left:85%;
    top:85%;
    z-index: 1;
}


/********** bloc 5 ***********/

.bloc5 {
    display: flex;
    padding: 80px 50px;
    justify-content: center;
    position: relative;
}

.bloc5 p {
    text-align: center;
}

.bloc5 a {
    align-self:center;
    color: #666666;
    position: absolute;
    top: 50%;
    left: 73%;
}

.bloc5 a span {
    margin-right: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.quote p {
    font-size: 1rem;
    padding: 1rem;
}

.quote cite {
    margin: 0 auto;
    font-size: 0.6rem;
}

cite strong, cite span {
    text-decoration: underline;
}

/********** bloc 6 **********/

.bloc6 {
    display: flex;
    background-image: url("../img/background-bnf.jpeg");
    background-repeat: repeat;
    justify-content: space-around;
    padding: 3rem;
}

.bloc6 a {
    align-self: center;
}

.bloc6 span {
    color: #464343;
    background-color: #cecbc5;
    padding: 5px;
    margin-right: 10px;
}

/********** bloc 7 ***********/

.bloc7 {
    width: 80%;
    margin: 0 auto;
}

.headerBloc7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.headerBloc7 a {
    color: #666666;
    text-decoration: underline;
    font-style: italic;
}

.bloc7 nav {
    display: flex;
    margin: 15px 0;
}

.bloc7 nav a {
    padding: 15px;
    color: #666666;
}

.bloc7 nav a:first-of-type {
    font-weight: bold;
    color: #271b1b;
    padding: 15px 0 5px;
    border-bottom: 5px #271b1b solid;
}

.bloc7 .sectionBloc7 {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 22%;
}

.wrapper article {
    background-color: #eccc9c;
}

.wrapper img {
    width: 100%;
}

.wrapper iframe {
    width: 100%;
}

.wrapper article p {
    padding: 10px;
    font-size: 0.8rem;
}

.wrapper p:nth-of-type(2) {
    font-weight: bold;
}

.wrapper article p:nth-of-type(4) {
    font-weight: bold;
}

.wrapper a {
    font-weight: bold;
    color: #271b1b;
    font-size: 0.8rem;
}

/********** bloc8 **********/

.bloc8 {
    width: 80%;
    display: flex;
    margin: 2rem auto;
}

.bloc8 article{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    margin: 0 auto;
}

.bloc8 p {
    text-align:right;
    align-self: center;
}

.bloc8 img {
    width: 80%;
    padding: 1rem;
}


/************* footer ***************/

footer {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    position: relative;
    color: #f3f3f3;
    width: 100%;
}

footer nav:first-of-type {
    padding: 1rem;
    z-index: 1;
    width: 75%;
    display: flex;
    position: absolute;
    top: -2rem;
    left: 7rem;
}

footer nav:first-of-type a {
    padding: 0.5rem;
    border: 1px #271b1b solid;
    background-color: whitesmoke;
    margin: 0 auto;
    box-shadow: 3px 3px 0 0 #666666;
    color: #be904a;
}

footer h3 {
    text-align: center;
    padding-top: 3rem;
    margin-right: 5%;
}


.footerContainer {
    display: flex;
    align-self: center;
}

.footerContainer div a span{
    padding: 1rem;
    align-self: center;
    font-size: 1rem;
}

footer nav:nth-of-type(2) a:first-of-type {
    text-decoration: underline;
    font-weight: bold;
}

.footerContainer div a span:last-of-type{
    padding-right: 0;
}

.footerContainer div p {
    margin-bottom: 1rem;
}

footer .footerContainer div:first-of-type {
    text-align: right;
    padding: 2rem 0 0;
}

footer .footerContainer div:nth-of-type(2) {
    text-align: left;
    padding: 2rem 0 0 2rem;
}

footer nav:nth-of-type(2) {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.carreFooter {
    display: flex;
    width: 60%;
    margin: 2rem auto;
}

.carreFooter article{
    display: flex;
    margin: 0 auto;
    width: 48%;
    background-color: #f3f3f3;
    color: #666666;
}

.carreFooter span {
    width: 10%;
    font-size: 3rem;
    margin: 0 1rem;
    align-self: center;
    
}

.carreFooter article:first-of-type div {
    width: 80%;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.carreFooter article:first-of-type h4 {
    padding: 0 0 0.8rem 0;
}

.carreFooter article:nth-of-type(2) aside {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.carreFooter aside div{
    width: 48%;
    margin: 0 1rem;
    display: flex;
}

.carreFooter aside div p {
    align-self: center;
    text-align: center;
}

.carreFooter article div span {
    display: flex;
    width: 50%;
    padding: 1rem;
    font-size: 0.8rem;
    margin: auto;
    text-align: center;
    align-self: center;
}

.footerWrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.footerWrapper iframe {
    width: 28%;
    height: 100%;
}

.footerWrapper article {
    width: 40%;
    margin: 0 2rem;
    border-right: 1px #f3f3f3 solid;
}

.footerWrapper .pseudoBorder {
    margin: 0 2 rem;
}

.footerWrapper article p:nth-of-type(2) {
    padding: 1rem 0;
}

footer .list ul {
    padding: 1rem;
}

.footerWrapper article ul li {
    display: flex;
}

.footerWrapper article ul li div {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.footerWrapper article ul li p {
    align-self: flex-start;
    padding: 1rem 0;
}

.footerWrapper article ul li img {
    width: 20%;
}


.list li {
    padding-bottom: 0.8rem;
    font-size: 0.8rem;
    list-style: white;
    list-style-type: disc;
}

.listBottom {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 3rem 0;
    margin: 2rem 0 2rem 15%;
}

.listBottom h3 {
    padding: 0;
}

.listBottom ul {
    padding: 0 2rem 0 0;
    margin-right: 1.2rem;
}

.listBottom article {
    padding: 0.5rem;
    border-left: 1px #f3f3f3 solid;
}

.listNavFooter {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

.listNavFooter ul {
    padding: 1rem;
}

.listNavFooter li {
    padding: 1rem;
    font-size: 0.8rem;
}

.listNavFooter h4 {
    margin-left: 1.8rem;
    font-weight: bold;
}

.end {
    display: flex;
    width: 80%;
    border-top: 1px #cecbc5 solid;
    padding: 1.5rem;
    margin: 0 auto;
    justify-content: space-around;
}

.end a {
    text-decoration: none;
    font-size: 0.8rem;
}
